<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <a href="#"><img src="~/Content/assets/images/DLcut.png" alt="logo" width="200" height="60"></a>
        </div>
    </div>
    <div class="header-right">
        <div class="page-title-admin">LinhDGT Electronic AdminCP</div>
        <div class="page-header-button">
            <button class="header-button user"><i class="fa-solid fa-user"></i></button>
        </div>
    </div>
</div>

