
<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <a href="#"><img src="~/Content/assets/images/DLcut.png" alt="logo" width="200" height="60"></a>
        </div>
    </div>
    <div class="header-right">
        <div class="page-title-admin">LinhDGT Electronic AdminCP</div>
        <div class="page-header-button">
            <div class="user-control ">
                <button class="header-button user tooltip"><i class="fa-solid fa-user"></i>
                </button>
                <div class="user-control-arrow"></div>
                <div class="user-control-item">
                        <div>
                            <span style="width:100%">Tài khoản: @User.Identity.Name</span>
                        </div>
                        <div>
                            <a href="javascript:document.getElementById('logoffform').submit()" class="button-user-control" style="width:100%">
                                Đăng xuất <i class="fa-solid fa-right-from-bracket"></i>
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "TaiKhoan", FormMethod.Post, new { @id = "logoffform" }))
    {
        @Html.AntiForgeryToken();
    }
}
<script src="~/Content/js/show-hide.js"></script>