<div class="menu">
    <div class="menu-item">
        <div class="item" id="tongquancontrol" style="position:relative">
            <div class="item-name" style="color:#fff">Tổng quan</div>
            <div class="item-control" style="position:absolute;right:8px">
                <span><i class="fa-solid fa-chevron-down"></i></span>
            </div>
        </div>
        <div class="children-items" id="tongquanitems">

            <a class="children" href="/admin/home/index">
                Sơ lược
            </a>
            <a class="children" href="/admin/home/thongkedoanhthu">
                Thống kê doanh thu
            </a>
        </div>
    </div>
    <div class="menu-item">
        <div class="item">
            <a class="item-name" href="/admin/danhmuc/index" style="color:#fff">Danh mục</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="item">
            <a class="item-name" href="/admin/thuonghieu/index" style="color:#fff">Thương hiệu</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="item">
            <a class="item-name" href="/admin/sanpham/index" style="color:#fff">Sản phẩm</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="item" id="donhangcontrol" style="position:relative">
            <div class="item-name" style="color:#fff">Đơn hàng</div>
            <div class="item-control" style="position:absolute;right:8px">
                <span><i class="fa-solid fa-chevron-down"></i></span>
            </div>
        </div>
        <div class="children-items" id="donhangitems">

            <a class="children" href="/admin/donhang/index">
                Tất cả
            </a>
            <a class="children" href="/admin/donhang/choxuly">
                Chờ xử lý
            </a>
            <a class="children" href="/admin/donhang/danggiao">
                Đang giao
            </a>
            <a class="children" href="/admin/donhang/hoanthanh">
                Hoàn thành
            </a>
            <a class="children" href="/admin/donhang/dahuy">
                Đã huỷ
            </a>
        </div>
    </div>
    <div class="menu-item">
        <div class="item">
            <a class="item-name" href="/admin/nhanvien/index" style="color:#fff">Nhân Viên</a>
        </div>

    </div>
    <div class="menu-item">
        <div class="item">
            <a class="item-name" href="/admin/taikhoan/index" style="color:#fff">Tài khoản</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="item">
            <a class="item-name" href="/admin/phanquyen/index" style="color:#fff">Quyền hạn</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#donhangcontrol").click(function () {
            $("#donhangitems").toggle();
        });
        $("#tongquancontrol").click(function () {
            $("#tongquanitems").toggle();
        });
    });
</script>