.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body-no-menu{
    width: 100%;
    height: calc(100% - 60px - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
}
/* BODY TITLE */
.body-title{
    height: 40px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
}


/* BODY CONTENT */

.body-content{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    overflow:auto;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px 0;
    box-sizing: border-box;

}
.body-content .item{
    white-space:nowrap;
    height: 200px;
    width: 180px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}
.body-content .item .item-img{
    background-color: red;
    height: 65%;
    width: 100%;
}
.body-content .item .item-name{
    flex: 1;
    text-align: center;
    font-weight: 700;
}
.body-content .item .item-cost{
    flex: 1;
    text-align: center;
    color:chocolate;
}
.body-content .item .item-control{
    flex: 1;
    display: flex;
}
.body-content .item .item-control .item-detail{
    flex: 1;
    background-color: #3e6ee9;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.body-content .item .item-control .item-detail:hover{
    background-color: aqua;
    color: black;
}
.body-content .item .item-control .item-detail:active{
    background-color: red;
    color: black;
}
.body-content .item .item-control .item-shopping-add{
    flex: 1;
    background-color: #35119a;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-content .item .item-control .item-shopping-add:hover{
    background-color: aqua;
    color: black;
}
.body-content .item .item-control .item-shopping-add:active{
    background-color: red;
    color: black;
}

/* BODY FOOTER */
.body-footer{
    height: 40px;
    width: 100%;
    background-color:darkorange;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

/* BODY CONTENT ADMIN */

.body-content-admin{
    min-width: 100%;
    box-sizing: border-box;
    height: calc(100% - 80px);
    overflow: auto;
}
.body-title-admin{
    height: 40px;
    width: 100%;
    background-color: #f1f4ff;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}
.body-title-admin .title{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}

.history-control{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 16px;
    box-sizing: border-box;
}
.history-control .history-control-item{
    width: 10%;
    height: 100%;
    background-color: #C9C9C9;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
}



.history-control .history-control-item:hover{
    background-color: aqua;
}
.history-control .history-control-item:focus{
    background-color: #fff;
}
.history-control .history-control-item:n-of-type(1){
    background-color: #fff;
}



.user-control{
    position: relative;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
}
.user-control .user-control-arrow{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 120%;
    left: 40%;
    transform: rotate(45deg);
    background-color: #C9C9C9;
    z-index: 10;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    display: none;
}
.user-control .user-control-item{
    position:absolute;
    background-color: #C9C9C9;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    right: -8px;
    top: 142%;
    border: 1px solid #000;
    display: none;
}
.user-control .user-control-item a{
    height: 30px;
    min-width: 200px;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 16px;
    color: #000;
}
.user-control .user-control-item a:hover{
    color: #fff;
}

.form-mode{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
}
.form-mode .item{
    width: 100%;
    row-gap: 8px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 0 16px;
}
.form-mode .item label,input{
    width: 100%;
}