.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* BODY TITLE */
.body-title{
    height: 40px;
    width: 100%;
    background-color: aqua;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
}


/* BODY CONTENT */
.body-content{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    overflow:auto;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px 0;
    box-sizing: border-box;

}
.body-content .item{
    white-space:nowrap;
    height: 200px;
    width: 180px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}
.body-content .item .item-img{
    background-color: red;
    height: 65%;
    width: 100%;
}
.body-content .item .item-name{
    flex: 1;
    text-align: center;
    font-weight: 700;
}
.body-content .item .item-cost{
    flex: 1;
    text-align: center;
    color:chocolate;
}
.body-content .item .item-control{
    flex: 1;
    display: flex;
}
.body-content .item .item-control .item-detail{
    flex: 1;
    background-color: #3e6ee9;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.body-content .item .item-control .item-detail:hover{
    background-color: aqua;
    color: black;
}
.body-content .item .item-control .item-detail:active{
    background-color: red;
    color: black;
}
.body-content .item .item-control .item-shopping-add{
    flex: 1;
    background-color: #35119a;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-content .item .item-control .item-shopping-add:hover{
    background-color: aqua;
    color: black;
}
.body-content .item .item-control .item-shopping-add:active{
    background-color: red;
    color: black;
}

/* BODY FOOTER */
.body-footer{
    height: 40px;
    width: 100%;
    background-color:darkorange;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

/* BODY CONTENT ADMIN */

.body-content-admin{
    min-width: 100%;
    box-sizing: border-box;
    height: calc(100% - 80px);
    overflow: auto;
}
.body-title-admin{
    height: 40px;
    width: 100%;
    background-color: #f1f4ff;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}
.body-title-admin .title{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}