<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/container.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="header-logo"></div>
            </div>
            <div class="header-right">

            </div>
        </div>
        <div class="menu">
            <div class="item">
                <div class="item-icon"></div>
                <div class="item-name"></div>
                <div class="item-control"></div>
            </div>
            <div class="item">
                <div class="item-icon"></div>
                <div class="item-name"></div>
                <div class="item-control"></div>
            </div>
            <div class="item">
                <div class="item-icon"></div>
                <div class="item-name"></div>
                <div class="item-control"></div>
            </div>
            <div class="item">
                <div class="item-icon"></div>
                <div class="item-name"></div>
                <div class="item-control"></div>
            </div>
            <div class="item">
                <div class="item-icon"></div>
                <div class="item-name"></div>
                <div class="item-control"></div>
            </div>
            <div class="item">
                <div class="item-icon"></div>
                <div class="item-name"></div>
                <div class="item-control"></div>
            </div>
            <div class="item">
                <div class="item-icon"></div>
                <div class="item-name"></div>
                <div class="item-control"></div>
            </div>

        </div>
        <div class="body">
            <div class="body-title">

            </div>
            <div class="body-content">
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="../assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <div class="item-detail"></div>
                        <div class="item-shopping-add"></div>
                    </div>
                </div>
            </div>
            <div class="body-footer">

            </div>

        </div>
        <div class="footer"></div>
    </div>
</body>

</html>