.table-content{
    width: 100%;
}
.table-body{
    min-width: 100%;
    border-collapse: collapse;
}
table tr{
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box;
}
table tbody tr:hover{
    background-color: aqua;
}
table tr th,td{
    box-sizing: border-box;
    height: 40px;
    text-align: center;
}
table thead tr{
    position: sticky;
    top: 0;
    background-color: #cfcfcf;
    
}