.header-button{
    width: 36px;
    height: 36px;
    background-color: unset;
    border: unset;
    font-size: 24px;
    cursor: pointer;
    border-radius: 4px;
}
.header-button:hover{
    background-color: aqua;
}
.header-button:active{
    background-color: #f2c981;
}
.button-search{
    position: absolute;
    width: 60px;
    height: 36px;
    outline: unset;
    border: 1px solid black;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #bbbdc0;
    cursor: pointer;
    right: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-search:hover{
    background-color: aqua;
}
.button-search:active{
    background-color: #f2c981;
}
.button-admin-control-create{

    cursor: pointer;
}
.button-pop-up-footer{
    width: 100px;
    height: 36px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    border: 1px solid #2c82df;
    background-color: #2c82df;
    color: #fff;
}
.button-pop-up-footer:hover{
    border: 1px solid #2c82df;
    background-color: #ffffff;
    color: #000;
}
.button-pop-up-footer:active{
    border: 1px solid #2c82df;
    background-color: #2c82df;
    color: #fff;
}
.button-exit{
    background-color: unset;
    border: unset;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
.button-exit:hover{
    background-color: #ff0000;
    color: #fff;
}
.button-exit:active{
    background-color: #c00000;
    color: #fff;
}
.button-admin-control-create{
    height: 36px;
    min-width: 100px;
}
.button-admin-control-delete{
    min-width: 36px;
    height: 36px;
    margin-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
}