
@{
    ViewBag.Title = "Trang chủ";
  
}
         <div class="body">
            <div class="body-title">

            </div>
            <div class="body-content">
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/1.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">Laptop acer chất lượng</div>
                    <div class="item-cost">$2000000</div>
                    <div class="item-control">
                        <a href="" class="item-detail"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="item-shopping-add"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="body-footer">

            </div>

        </div>
       


