
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body">
    <div class="body-title-admin">
        <div class="body-title-admin">
            <div class="title">Thông tin liên hệ</div>
        </div>
    </div>
    <div class="body-content-admin background-item" style="padding:16px;" >
        <div style="width: 100%; height:60px;">Số điện thoại: (+84) 869 143 513</div>
        <div style="width: 100%; height:60px;">Facebook: https://www.facebook.com/Heathcliff195/</div>
        <div style="width: 100%; height:60px;">Người quản lý: Lê Quang Linh</div>
        <div style="width: 100%; height:60px;">Email: dragmedown113@gmail.com</div>
        <div style="width: 100%; height:60px;">Địa chỉ: Số 32 Xuân Phương, Quận Nam Từ Liêm, TP. Hà Nội</div>
    </div>

    <div class="body-footer">
    </div>

</div>
