.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-no-menu {
    width: 100%;
    height: calc(100% - 60px - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
}
/* BODY TITLE */
.body-title {
    height: 40px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 14px;
    display:flex;
    justify-content:start;
    align-items:center;
    padding: 0 16px;
}


/* BODY CONTENT */

.body-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px 0;
    box-sizing: border-box;
}

    .body-content .item {
        white-space: nowrap;
        height: 200px;
        width: 180px;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
    }

        .body-content .item .item-img {
            background-color: red;
            height: 65%;
            width: 100%;
        }

        .body-content .item .item-name {
            flex: 1;
            text-align: center;
            font-weight: 700;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding:0 8px;
        }

        .body-content .item .item-cost {
            flex: 1;
            text-align: center;
            color: chocolate;
        }

        .body-content .item .item-control {
            flex: 1;
            display: flex;
        }

            .body-content .item .item-control .item-detail {
                flex: 1;
                background-color: #3e6ee9;
                cursor: pointer;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
            }

                .body-content .item .item-control .item-detail:hover {
                    background-color: aqua;
                    color: black;
                }

                .body-content .item .item-control .item-detail:active {
                    background-color: red;
                    color: black;
                }

            .body-content .item .item-control .item-shopping-add {
                flex: 1;
                background-color: #35119a;
                cursor: pointer;
                text-decoration: none;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .body-content .item .item-control .item-shopping-add:hover {
                    background-color: aqua;
                    color: black;
                }

                .body-content .item .item-control .item-shopping-add:active {
                    background-color: red;
                    color: black;
                }

/* BODY FOOTER */
.body-footer {
    height: 40px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}
/* CONTENT ADMIN */
.body-content-admin {
    min-width: 100%;
    box-sizing: border-box;
    height: calc(100% - 80px);
    overflow: auto;
}

.body-title-admin {
    height: 40px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

    .body-title-admin .title {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
    }

    .body-title-admin .title-change {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        cursor:pointer;
        border:unset;
        border-radius:16px;
    }
        .body-title-admin .title-change:hover{
            background-color: blue;
            color:#fff;
        }
        .body-title-admin .title-change:focus {
            background-color: blue;
            color: #fff;
        }
.history-control {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 16px;
    box-sizing: border-box;
}

    .history-control .history-control-item {
        width: 10%;
        height: 100%;
        background-color: #fff;
        border-top-right-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        cursor: pointer;
    }

.home-item{
    width:100%;
    height:60px;
    background-color: aqua;
}


.product-detail {
    width: 100%;
    height: 80%;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    /* border: 1px solid black; */
}

.product-detail-left {
    width: 40%;
    height: 100%;
    display: flex;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8px;
}

    .product-detail-left .avatar-img {
        width: 100%;
        height: 70%;
        /* background-color: #999; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

.avt-img {
    width: 60%;
    height: 100%;
}

.product-detail-left .images-group {
    margin-top: 20px;
    width: 80%;
    height: 30%;
    display:flex;
    column-gap: 10px;
    overflow-x:auto;
    flex-direction:row;
    box-sizing:border-box;
}
    .product-detail-left .images-group .item-img{
        height:90%;
        box-sizing:border-box;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
    }
    .product-detail-left .images-group .item-img img {
        width: 100%;
        height: 100%;
    }

.product-detail-right {
    width: 55%;
    height: 100%;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    padding: 16px 30px;
    box-sizing: border-box;
    row-gap: 16px;
    background-color: white;
}

    .product-detail-right .item {
        display: flex;
        width: 100%;
        flex-direction: row;
        column-gap: 16px;
        border: none;
        background-color: unset;
    }

.product-description {
    width: 90%;
    background-color: unset;
    padding: 0;
    box-sizing: border-box;
}

.product-description-title {
    width: 100%;
    height: 40px;
    display: flex;
}

    .product-description-title .item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: unset;
    }

.tab {
    width: calc(100% - 2px);
    overflow: hidden;
    border: 1px solid #000;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: 1px solid #000;
        cursor: pointer;
        transition: 0.3s;
        font-size: 14px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        outline: unset;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #3e6ee9;
            color: #fff;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #3e6ee9;
            color: #fff;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 24px;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    border-top: none;
}




.fixed-screen {
    width: 100%;
    height: 100%;
    background-color: #00000fbc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
/* Expanding image text */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
