<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <a href="#"><img src="~/Content/assets/images/DLcut.png" alt="logo" width="200" height="60"></a>
        </div>
    </div>
    <div class="header-right">
        <div class="page-title">LinhDGT Electronic</div>
        <div class="page-search">
            <input type="text" placeholder="Nhập từ khoá tìm kiếm..." class="input-search">
            <button class="button-search">
                <img src="~/Content/assets/icon/magnifying-glass-solid.svg" alt="search"
                     width="24">
            </button>
        </div>
        <div class="page-header-button">
            <div class="user-control">
                <button class="header-button notice" id="notice"><i class="fa-solid fa-bell"></i></button>
            </div>
            <div class="user-control">
                <button class="header-button category"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
            <div class="user-control">
                <button class="header-button help"><i class="fa-solid fa-circle-info"></i></button>
            </div>
            <div class="user-control">
                <button class="header-button user"><i class="fa-solid fa-user"></i></button>
                <div class="user-control-arrow"></div>
                <div class="user-control-item">
                    <div>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new {@class = "button-user-control", id = "registerLink" })</div>
                    <div>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "button-user-control",id = "registerLink" })</div>
                </div>

            </div>
        </div>
    </div>
</div>

