
        <div class="header">
            <div class="header-left">
                <div class="header-logo">
                    <a href="#"><img src="~/Content/assets/images/DLcut.png" alt="logo" width="200" height="60"></a>
                </div>
            </div>
            <div class="header-right">
                <div class="page-title">LinhDGT Electronic</div>
                <div class="page-search">
                    <input type="text" placeholder="Nhập từ khoá tìm kiếm..." class="input-search">
                    <button class="button-search">
                        <img src="~/Content/assets/icon/magnifying-glass-solid.svg" alt="search"
                             width="24">
                    </button>
                </div>
                <div class="page-header-button">
                    <button class="header-button notice"><i class="fa-solid fa-bell"></i></button>
                    <button class="header-button category"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="header-button help"><i class="fa-solid fa-circle-info"></i></button>
                    <button class="header-button user"><i class="fa-solid fa-user"></i></button>
                </div>
            </div>
        </div>

