<div class="menu">
    <div class="menu-item">
        <div class="item" id="menu-category">
            <div class="item-name">Danh mục sản phẩm</div>
            <div class="item-control">
                <span><i class="fa-solid fa-chevron-down"></i></span>
            </div>
        </div>
        <div class="children-items" id="category-items">
            <div class="children">Danh mục 1</div>
        </div>
    </div>
    <div class="menu-item">
        <div class="item" id="menu-trademark">
            <div class="item-name">Thương hiệu sản phẩm</div>
            <div class="item-control">
                <span><i class="fa-solid fa-chevron-down"></i></span>
            </div>
        </div>
        <div class="children-items" id="trademark-items">
            <div class="children">Danh mục 1</div>
            <div class="children">Danh mục 1</div>
            <div class="children">Danh mục 1</div>
            <div class="children">Danh mục 1</div>
        </div>
    </div>
    <div class="menu-item">
        <div class="item" id="menu-category">
            <div class="item-name">Lọc sản phẩm</div>
            <div class="item-control">
                <span><i class="fa-solid fa-chevron-down"></i></span>
            </div>
        </div>
        <div class="children-items" id="category-items">
            <div class="children">Sản phẩm mới nhất</div>
            <div class="children">Sản phẩm rẻ nhất</div>
        </div>
    </div>
</div>