
@model IEnumerable<LinhDGT_Electronic.Models.EF.ThuongHieu>
<div class="children-items" id="trademark-items">
    @foreach (var item in Model)
    {
        <a class="children" href="/sanpham/sanphamtheothuonghieu/@item.ThuongHieuID">
            @item.ThuongHieuName
        </a>
    }

</div>