<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/container.css">
    <title>Trang chủ</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="header-logo">
                    <a href="#"><img src="../../assets/images/DLcut.png" alt="logo" width="200" height="60"></a>
                </div>
            </div>
            <div class="header-right">
                <div class="page-title">LinhDGT Electronic</div>
                <div class="page-search">
                    <input type="text" placeholder="Nhập sản phẩm cần tìm" class="input-search">
                    <button class="button-search"><img src="../../assets/icon/magnifying-glass-solid.svg" alt="search"
                            width="24"></button>
                </div>
                <div class="page-header-button">
                    <button class="header-button notice" id="notice"><i class="fa-solid fa-bell"></i></button>
                    <button class="header-button category"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="header-button help"><i class="fa-solid fa-circle-info"></i></button>
                    <button class="header-button user"><i class="fa-solid fa-user"></i></button>
                </div>
            </div>
        </div>
        <div class="body-no-menu">
            <div class="body-title">
                Lịch sử mua hàng
            </div>
            <div class="body-content-admin">
                <div class="history-control tab" style="border: unset;background-color: unset;">
                    <button type="button" class="history-control-item tablinks" onclick="openFunc(event, 'tatca')" id="btn-tatca">Tất cả</button>
                    <button type="button" class="history-control-item tablinks" onclick="openFunc(event, 'chothanhtoan')" id="btn-chothanhtoan">Chờ xử lý</button>
                    <button type="button" class="history-control-item tablinks" onclick="openFunc(event, 'danggiao')" id="btn-danggiao">Đang giao</button>
                    <button type="button" class="history-control-item tablinks" onclick="openFunc(event, 'hoanthanh')" id="btn-hoanthanh">Hoàn thành</button>
                    <button type="button" class="history-control-item tablinks" onclick="openFunc(event, 'dahuy')" id="btn-dahuy">Đã huỷ</button>
                </div>
                <div class="table-content tabcontent" style="padding:0 16px;box-sizing: border-box;" id="tatca">
                    <table class="table-body">
                        <thead>
                            <tr>
                                <th style="width: 50px;"><input type="checkbox"></th>
                                <th style="width: 70px;">STT</th>
                                <th>Mã đơn hàng</th>
                                <th>Người nhận</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>DH001</td>
                                <td>Lê Quang Linh</td>
                                <td>0869143513</td>
                                <td>Minh Hoà - Hưng Hà - Thái Bình</td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-eye"></i></button></td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-trash"></i></button></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-content tabcontent" style="padding:0 16px;box-sizing: border-box;" id="chothanhtoan">
                    <table class="table-body">
                        <thead>
                            <tr>
                                <th style="width: 50px;"><input type="checkbox"></th>
                                <th style="width: 70px;">STT</th>
                                <th>Mã đơn hàng</th>
                                <th>Người nhận</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>DH001</td>
                                <td>Lê Quang Linh</td>
                                <td>0869143513</td>
                                <td>Minh Hoà - Hưng Hà - Thái Bình</td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-eye"></i></button></td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-trash"></i></button></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-content tabcontent" style="padding:0 16px;box-sizing: border-box;" id="danggiao">
                    <table class="table-body">
                        <thead>
                            <tr>
                                <th style="width: 50px;"><input type="checkbox"></th>
                                <th style="width: 70px;">STT</th>
                                <th>Mã đơn hàng</th>
                                <th>Người nhận</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>DH001</td>
                                <td>Lê Quang Linh</td>
                                <td>0869143513</td>
                                <td>Minh Hoà - Hưng Hà - Thái Bình</td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-eye"></i></button></td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-trash"></i></button></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-content tabcontent" style="padding:0 16px;box-sizing: border-box;" id="hoanthanh">
                    <table class="table-body">
                        <thead>
                            <tr>
                                <th style="width: 50px;"><input type="checkbox"></th>
                                <th style="width: 70px;">STT</th>
                                <th>Mã đơn hàng</th>
                                <th>Người nhận</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>DH001</td>
                                <td>Lê Quang Linh</td>
                                <td>0869143513</td>
                                <td>Minh Hoà - Hưng Hà - Thái Bình</td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-eye"></i></button></td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-trash"></i></button></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-content tabcontent" style="padding:0 16px;box-sizing: border-box;" id="dahuy">
                    <table class="table-body">
                        <thead>
                            <tr>
                                <th style="width: 50px;"><input type="checkbox"></th>
                                <th style="width: 70px;">STT</th>
                                <th>Mã đơn hàng</th>
                                <th>Người nhận</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>DH001</td>
                                <td>Lê Quang Linh</td>
                                <td>0869143513</td>
                                <td>Minh Hoà - Hưng Hà - Thái Bình</td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-eye"></i></button></td>
                                <td><button class="button-admin-control-edit"><i class="fa-solid fa-trash"></i></button></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>

        </div>
        <div class="footer">
            COPYRIGHT BY LÊ QUANG LINH
        </div>
    </div>
    <script src="../../lib/jquery-3.6.3.min.js"></script>
    <script src="../../js/showhide.js"></script>
    <!-- <script>    
   
        
    
    </script> -->
</body>

</html>
<script>
    function openFunc(evt, content) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace("active", "");
        }
        document.getElementById(content).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("btn-tatca").click();

</script>