
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đặt hàng thành công!</h2>
<br />
<h3>Đơn hàng đã được gửi tới email của quý khách!</h3>
<br />
<h3>Quý khách vui lòng kiểm tra hộp thư!</h3>
<br />
<h3>Hoặc tiếp tục mua hàng <a href="/home/index">tại đây</a></h3>

